export MATCH_GIT_URL=git@github.com:kessenma/pocketdev-certs.git
export APPLE_ID='kessen@umich.edu'
export TEAM_ID='RHPLRY9X9P'
export APP_IDENTIFIER='run.pocketdev.mobile'
export KEYCHAIN_NAME='login.keychain'
export KEYCHAIN_PASSWORD='your-keychain-password'
export MATCH_KEYCHAIN_NAME="$KEYCHAIN_NAME"
export MATCH_KEYCHAIN_PASSWORD="$KEYCHAIN_PASSWORD"
